/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 1, J:/root/dev-env/vhoyer.github.io/sass/base/_placeholders.scss */
.panel-aside, .lead {
  box-shadow: 0 0 3px #111;
  background-color: #ddd;
}

/* FRAMEWORK - Structure and layout files.
========================================================================== */
/* line 1, J:/root/dev-env/vhoyer.github.io/sass/framework/_layout.scss */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
  color: #222;
  padding-bottom: 1em;
}

/* line 9, J:/root/dev-env/vhoyer.github.io/sass/framework/_layout.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 13, J:/root/dev-env/vhoyer.github.io/sass/framework/_layout.scss */
a, a:visited {
  color: #0275d8;
  text-decoration: none;
}

/* line 17, J:/root/dev-env/vhoyer.github.io/sass/framework/_layout.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #025aa5;
  text-decoration: underline;
}

/* line 1, J:/root/dev-env/vhoyer.github.io/sass/framework/_classes.scss */
.bold {
  font-weight: bold;
}

/* line 5, J:/root/dev-env/vhoyer.github.io/sass/framework/_classes.scss */
.panel-aside + .content {
  margin-left: 16em;
}

/* MODULES - Re-usable site elements.
========================================================================== */
/* line 1, J:/root/dev-env/vhoyer.github.io/sass/modules/_panel-aside.scss */
.panel-aside {
  width: 100%;
  padding: 1em 0;
}

@media (min-width: 767px) {
  /* line 1, J:/root/dev-env/vhoyer.github.io/sass/modules/_panel-aside.scss */
  .panel-aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 16em;
    height: 100%;
  }
}

/* line 14, J:/root/dev-env/vhoyer.github.io/sass/modules/_panel-aside.scss */
.panel-aside .img-border {
  border: 1em solid #c4c4c4;
  border-radius: 50%;
}

/* line 19, J:/root/dev-env/vhoyer.github.io/sass/modules/_panel-aside.scss */
.panel-aside .img-profile {
  display: block;
  margin: 0 auto;
  width: 70%;
}

/* line 25, J:/root/dev-env/vhoyer.github.io/sass/modules/_panel-aside.scss */
.panel-aside h1 {
  text-align: center;
}

/* line 1, J:/root/dev-env/vhoyer.github.io/sass/modules/_social.scss */
.social {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
}

/* line 7, J:/root/dev-env/vhoyer.github.io/sass/modules/_social.scss */
.social a {
  transition: color ease-in .2s;
}

/* line 11, J:/root/dev-env/vhoyer.github.io/sass/modules/_social.scss */
.social #github:hover {
  color: #000;
}

/* line 15, J:/root/dev-env/vhoyer.github.io/sass/modules/_social.scss */
.social #facebook:hover {
  color: #3b5998;
}

/* line 19, J:/root/dev-env/vhoyer.github.io/sass/modules/_social.scss */
.social #twitter:hover {
  color: #009eed;
}

/* line 23, J:/root/dev-env/vhoyer.github.io/sass/modules/_social.scss */
.social #instagram:hover {
  color: #bc2a8d;
}

/* line 27, J:/root/dev-env/vhoyer.github.io/sass/modules/_social.scss */
.social #linkedin:hover {
  color: #0077b5;
}

/* line 1, J:/root/dev-env/vhoyer.github.io/sass/modules/_lead.scss */
.lead {
  margin: 1em auto 0;
  width: 90%;
  padding: .05em 1em;
}

/*# sourceMappingURL=../css/style.map */