nav {
	a {
		cursor: pointer;
	}

	ol {
		padding: 0;
		list-style: none;
	}

	ol > li {
		text-align: center;
	}

	hr {
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 80%);
	}
}
