.panel-aside {
	@extend %card;
	width: 100%;
	padding: 1em 0;

	@media screen and (min-width: $md) {
		position: fixed;
		top: 0;
		left: 0;
		width: $asidew;
		height: 100%;
	}

	.img-border{
		border: 1em solid darken($aside_bgcolor, 10%);
		border-radius: 50%;
	}

	.img-profile {
		display: block;
		margin: 0 auto;
		width: 70%;
	}

	h1 {
		text-align: center;
	}
}
