.panel-aside {
	box-shadow: 0 0 3px #111;
	background-color: $aside_bgcolor;
	margin-right: -15px;
	margin-left: -15px;
	min-width: 100%;
	padding: 1em;

	@include mquery(md){
		box-shadow: 0 0 3px #111;
		height: 100%;
	}

	.img-border{
		border: 1em solid darken($aside_bgcolor, 10%);
		border-radius: 50%;
	}
}
