.panel-aside {
	box-shadow: 0 0 3px #111;
	background-color: $aside_bgcolor;
	width: 100%;
	padding: 1em 0;

	@media (min-width: 480px) {
	}

	.img-border{
		border: 1em solid darken($aside_bgcolor, 10%);
		border-radius: 50%;
	}

	.img-profile {
		display: block;
		margin: 0 auto;
		width: 70%;
	}

	h1 {
		text-align: center;
	}
}
