.social {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 80%;

	a {
		transition: color ease-in .2s;
	}

	#github:hover{
		color: #000;
	}

	#facebook:hover{
		color: #3b5998;
	}

	#twitter:hover{
		color: #009eed;
	}

	#instagram:hover{
		color: #bc2a8d;
	}

	#linkedin:hover{
		color: #0077b5;
	}
}
